@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model AbpFramework.Estudo.Web.Pages.Produtos.EditModalModel
@{
    Layout = null;
}

<form method="post" asp-page="EditModal">
    <abp-modal>
        <abp-modal-header title="Alterar Produto"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="ViewModel.Nome"></label>
                <input class="form-control" type="text" asp-for="ViewModel.Nome" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="ViewModel.Preco"></label>
                <input class="form-control" type="text" asp-for="ViewModel.Preco" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="ViewModel.CategoriaId"></label>
                <select class="form-control" asp-for="ViewModel.CategoriaId" asp-items="@Model.Categorias"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ViewModel.CategoriaId"></label>
                <select class="form-control" asp-for="ViewModel.FornecedorId" asp-items="@Model.Fornecedores"></select>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
