@page
@using AbpFramework.Estudo.Localization
@using AbpFramework.Estudo.Web.Menus
@using AbpFramework.Estudo.Web.Pages
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model AbpFramework.Estudo.Web.Pages.Produtos.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<EstudoResource> L
@{
    PageLayout.Content.Title = "Produtos";
    PageLayout.Content.BreadCrumb.Add("Produtos");
    PageLayout.Content.MenuItemName = EstudoMenus.Produto;
}

@section scripts
{
    <abp-script src="/Pages/Produtos/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Produtos/index.css" />
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md ="_6">
                <a abp-collapse-id="ProdutoCollapse" class="text-secondary">Filtro</a>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewProdutoButton"
                            text="Inserir Produto"
                            icon="plus"
                            class="btn-sm"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
        <abp-dynamic-form abp-model="ProdutoFilter" id="ProdutoFilter" required-symbols="false" column-size="_6">
            <abp-collapse-body id="ProdutoCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr class="mt-2"/>
        <abp-table striped-rows="true" id="ProdutoTable" class="nowrap" />
    </abp-card-body>
</abp-card>
